html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
    overflow-x: auto;
}
a {
  text-decoration: none;
}
h1, h2 {
  width: 100%;
  float: left;
}
h1 {
  margin-top: 100px;
  color: #000;
  margin-bottom: 5px;
  font-size: 70px;
  letter-spacing: -4px;
  font-weight: 100;
}
h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0,0,0,0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}
h2 {
  color: #6D461D;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main h1 {
  padding:150px 50px;
  float: left;
  width: 100%;
  font-size: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  color: white;
  margin: 0;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  /*text-align: center;*/
  text-align: right;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  font-weight: bold;
  font-size: 13px;
  color: #000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.back:hover {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  min-width: 950px;
  z-index: 3;
}
.main section  {
  /*overflow: hidden;*/
    overflow: hidden;
    overflow-x: auto;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.main section.page1 {
  /*background: rgb(255, 255, 255);*/
  background: rgb(253, 248, 232);
}
.main section.page1 h1 {
  text-align: center;
  width: 435px;
  padding: 0;
  margin-bottom: 15px;
  /*font-size: 56px;*/
  font-size: 64px;
  color: black;
  clear: both;
}
.main section.page1 h2 {
  color: rgba(90,90,90,0.85);
  text-align: center;
  width: 435px;
  line-height: 160%;
  clear: both;
  margin-bottom: 35px;
}
.main section .page_container .btns {
  clear: both;
  float: left;
  text-align: center;
  width: 435px;
}
.main section .page_container .btns a{
  text-align: center;
}
.main section.page2 {
  /*background: #555557;*/
  /*background: #181818;*/
  /*background: #3E3E40;*/
  background: #FCF1EF;
}

.main section.page2 .page_container {
  /*overflow: hidden;*/
}

.main section.page2 h1 {
  text-align: center;
  width: 435px;
  padding: 0;
  margin-bottom: 15px;
  font-size: 50px;
  letter-spacing: -1px;
  /*color: white;*/
  color: black;
  clear: both;
}

.main section.page2 h2 {
  color: rgba(90,90,90,0.85);
  /*color: rgba(255,255,255,0.85);*/
  text-align: center;
  width: 435px;
  line-height: 160%;
  font-weight: 100;
  clear: both;
}
.viewing-page-2 .back{
  background: rgba(0, 0, 0, 0.25);
  color: #FFF;
  }

.main section.page3 .page_container {
  /* top: 15%; */
  /*overflow: hidden;*/
}

.main section.page3 {
  background: #EDEDF8;
}

.main section.page3 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-size: 50px;
  letter-spacing: -1px;
  color: black;
  width: 435px;
  clear: both;
}
.main section.page3 h2 {
  color: rgba(0,0,0,0.85);
  text-align: center;
  line-height: 160%;
  font-weight: 100;
  font-size: 21px;
  width: 435px;
  clear: both;
}
body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  /*overflow: hidden;*/
}

body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}

/* Lightbox */
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 8px solid #EBAB36;
	background-color: white;
	z-index:1002;
	overflow: auto;
}